<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        
        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
        
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        {%- for i in range(lines|length) -%}
        {%- if "```python" in lines[i] -%}
        <pre><code class="language-python">
            {%- elif "```" in lines[i] -%}
        </code></pre>
            {%- elif i > 0 and "```python" in lines[i - 1] -%}
{{ lines[i] }}
            {% else %}
{{ lines[i] }}
            {%- endif -%}
        {%- endfor -%}

    </body>

</html>