<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/global/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/global/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/resources/css/index.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/global/resources/image/avatar.ico') }}">

        <title>InfaNaSotku</title>
    </head>
    <header>

    </header>
    <body>
        <div class="hero_area">
 
            <div class="head_wrapper">
                <div class="header_section">
                    <div class="head_name">
                        <a href="/">
                            InfaNaSotku
                        </a>
                    </div>
                    <div class="head_menu">
                        <a href="#solutions">
                            Solutions
                        </a>
                        <a href="/downloads">
                            Downloads
                        </a>
                    </div>
                </div>

                
    
                <div class="head_content">
                    <div class="main_header">
                        <h1>    
                            Maxim
                        </h1>
                        <h1>
                            Gerasimov
                        </h1>
                        <h4>
                            Software developer
                        </h4>
                    </div>
                    
                    <div class="main_avatar">
                        <img src="{{ url_for('static', path='/resources/data/image/computer.png') }}">
                    </div>
                </div>
            </div>
            


            <div class="content">
                <div class="project_block_trigger" id="solutions" style="height: 10px;"></div>
                <div class="project_block hidden">
                    <div class="project_mes">
                        <h1>Projects</h1>
                    </div>
                    <div class="project_list">
                        <div class="project">
                            <a href="/NSUDA">
                                <img src="{{ url_for('static', path='/resources/data/image/NSUDA_logo.jpg') }}">
                            </a>
                            <h4>NSUDA</h4>
                        </div>
                    </div>
                </div>
                <div class="about_block">
                    <div class="about_mes">
                        <h1>About me</h1>
                    </div>
                    <div class="row">
                        <div class="avatar col">
                            <img src="{{ url_for('static', path='/resources/data/image/avatar.jpg') }}">
                        </div>
                        <div class="about_description col">
                            <span>I'm studying the web and desktop apps technologies.
                                I'm interested in software architecture design methods.
                                Now I'm develop the NSUDA cross-platform app for NSU students at free time.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="skill_block">
                    <h1>Skills</h1>
                    <ul>
                        <li>Python, C#</li>
                        <li>FastApi, .NET Framework</li>
                        <li>Git, HTML, CSS</li>
                    </ul>
                    <div class="separator"></div>
                    <h1 class="experience">Work experience</h1>
                    <ul class="ul_experience">
                        <div>
                            <h2>Software Developer</h2>
                            <span>LTD "PetroGM" (Novosibirsk) from 08.2023 to the present.</span>
                        </div>
                    </ul>
                </div>
                <div class="contact_block">
                    <h1>Contact with me</h1>
                    <div class="contacts">
                        <a href="https://www.github.com/InfaNaSotku">
                            <img src="{{ url_for('static', path='/resources/data/image/github-mark.png') }}">
                        </a>
                        <a href="mailto:infanasotku@gmail.com">
                            <img src="{{ url_for('static', path='/resources/data/image/email.png') }}">
                        </a>
                        <a href="https://telegram.me/InfaNaSotku">
                            <img src="{{ url_for('static', path='/resources/data/image/telegram.png') }}">
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer">
                <h3>External Source</h3>
                <ul class="external_source">
                    <li>
                        <a href="https://www.flaticon.com/free-icons/telegram" title="telegram icons">Telegram icons created by Pixel perfect - Flaticon</a>
                    </li>
                    <li>
                        <a href='https://ru.pngtree.com/freepng/linear-computer-screen-data-illustration_4863892.html'>PNG изображение с сайта ru.pngtree.com/</a>
                    </li>
                </ul>
            </div>
        </div>

        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/JQuery.js') }}"></script>
        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/style.js') }}"></script>
        <script rtype="text/javascript" src="{{ url_for('static', path='/resources/js/index.js') }}"></script>
        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/bootstrap.js') }}"></script>
    </body>
</html>