<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/resources/css/NSUDA.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/global/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/global/css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/global/resources/image/avatar.ico') }}">

        <title>NSUDA</title>
    </head>
    <body>
        <div class="hero_area">
            <div class="head_wrapper">
                <div class="header_section">
                    <div class="head_name">
                        <a href="/">
                            InfaNaSotku
                        </a>
                    </div>
                    <div class="head_menu">
                        <a href="/downloads">
                            Downloads
                        </a>
                    </div>
                </div>
    
                
                <div class="head_content">
                    <div class="main_header">
                        <div class="nsuda_wrapper">
                            <h1>
                                NSUDA
                            </h1>
                            <img src="{{ url_for('static', path='/resources/data/gif/flying.gif') }}">
                        </div>
                        <h4>
                            Cross-platform proxy app.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="about_project">
                    <h1>About NSUDA</h1>
                    <div class="description">

                    </div>
                    <h1>
                        In process...
                    </h1>
                </div>
            </div>
        </div>
        
        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/style.js') }}"></script>
        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/bootstrap.js') }}"></script>
    </body>
</html>