<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/resources/css/NSUDA.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/global/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/global/css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/resources/data/image/NSUDA_logo.ico') }}">

        <title>NSUDA</title>
    </head>
    <body>
        <div class="hero_area">
            <div class="head_wrapper">
                <div class="header_section">
                    <div class="head_name">
                        <a href="/">
                            InfaNaSotku
                        </a>
                    </div>
                    <div class="head_menu">

                    </div>
                </div>
    
                
                <div class="head_content">
                    <div class="main_header">
                        <div class="nsuda_wrapper">
                            <h1>
                                NSUDA
                            </h1>
                            <img src="{{ url_for('static', path='/resources/data/gif/flying.gif') }}">
                        </div>
                        <h4>
                            Cross-platform proxy.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="about_project">
                    <h1>About NSUDA</h1>
                    <div class="description">
                        <h2>
                            NSUDA is open source powerful tool which allows to get the access to content which blocked with mistakes by government.
                        </h2>
                    </div>
                    <a style="color: black;" href="https://www.github.com/InfaNaSotku/NSUDA">Source code</a>
                    <a style="color: black;" href="https://t.me/NaSotkUDeepAccess">Telegram channel</a>
                </div>
                <div class="download">
                    <h1>Downloads:</h1>
                    <table>
                        <tr>
                            <th><div class="cell">Version</div></th>
                            <th><div class="cell">Windows</div></th>
                            <th><div class="cell">MacOS</div></th>
                            <th><div class="cell">Linux</div></th>
                        </tr>
                        <tr>
                            <th><div class="cell"><a href="#1.0.0">1.0.0</a></div></th>
                            <th>
                                <div class="cell">
                                    <a href="{{ url_for('static', path='/resources/data/nsuda_apps/1.0.0/windows/NSUDAWin.zip') }}">Download</a>
                                </div>
                            </th>
                            <th>
                                <div class="cell">
                                    <a href="{{ url_for('static', path='/resources/data/nsuda_apps/1.0.0/MacOS/NSUDAMacOSarm64.zip') }}">Download arm64</a>
                                    <a href="{{ url_for('static', path='/resources/data/nsuda_apps/1.0.0/MacOS/NSUDAMacOSx86_64.zip') }}">Download x86_64</a>
                                </div>
                            </th>
                            <th>
                                <div class="cell">
                                    <a href="{{ url_for('static', path='/resources/data/nsuda_apps/1.0.0/Linux/NSUDALinux64.zip') }}">Download x64</a>
                                </div>
                            </th>
                            
                        </tr>
                        <tr>
                            <th><div class="cell"><a href="#1.0.1">1.0.1</a></div></th>
                            <th>
                                <div class="cell">
                                    <a href="{{ url_for('static', path='/resources/data/nsuda_apps/1.0.1/windows/NSUDAWin.zip') }}">Download</a>
                                </div>
                            </th>
                            <th>
                                <div class="cell">
                                    <a href="{{ url_for('static', path='/resources/data/nsuda_apps/1.0.1/MacOS/NSUDAMacOSarm64.zip') }}">Download arm64</a>
                                </div>
                            </th>
                            <th>
                                <div class="cell">
                                </div>
                            </th>
                            
                        </tr>
                    </table>
                </div>
                <div class="release_notes">
                    <h1>Release notes:</h1>
                    <div class="version" id="1.0.1">
                        <h4>1.0.1</h4>
                        <ul>
                            <li>Fixed icon view on windows and macOS</li>
                            <li>Fixed several signs</li>
                            <li>Added loading screen</li>
                            <li>Added memorization last user and password</li>
                            <li>Removed pop-up consoles</li>
                            <li>Disabled extrafullscreen button in windows</li>
                            <li>Fixed freezing when working for a long time</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/style.js') }}"></script>
        <script rtype="text/javascript" src="{{ url_for('static', path='/global/js/bootstrap.js') }}"></script>
    </body>
</html>