h1
{
    margin: 0% !important;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}
@keyframes flashing
{
    to
    {
        color: gray;
    }
}
::-webkit-scrollbar {
    width: 0;
}

.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0%;
}

@media only screen and (max-width: 600px) {
    .hero_area .head_wrapper
    {
        background-color: black;
    }   
}



.hero_area .head_wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../global/resources/image/hero_bg.png");
    background-size: cover;
}



/*header*/
.hero_area .header_section
{
    background-color: black;
    top: 0px;
    left: 0px;
    position: fixed;
    flex-direction: row;
    width: 100%;
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .hero_area .header_section
    {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.hero_area .header_section .head_menu
{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    width: 20%;
    gap: 15%;
    flex-direction: row;
}

.hero_area a
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero_area a:link
{
    color: white;
    text-decoration: none;
}

.hero_area a:visited
{
    color: white;
    text-decoration: none;
}

.hero_area a:hover
{
    animation-duration: 0.25s;
    animation-name: flashing;
    animation-fill-mode: forwards;
    text-decoration: none;
}

.hero_area  a:active
{
    color: white;
    text-decoration: none;
}
/*end header*/

/*head_content */
@media only screen and (max-width: 600px) {
    .head_content
    {
        flex-direction: column;
    }   
}

@media only screen and (min-width: 601px) {
    .head_content
    {
        flex-direction: row;
    }
}

.head_content
{
    padding-top: 5%;
    display: flex;
    height: 79%;
    color: white;
    width: 100%;
    padding-bottom: 5%;
}
/*end head_content*/

/*content*/
.content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*end content*/

/*footer*/
.footer
{
    margin-top: 10%;
    background-color: white;
    font-size: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .footer
    {
        font-size: 8px;
    }
}

.footer h3
{
    font-weight: 600;
}

.footer a
{
    color: black !important;
}

/*end footer*/
